@import "tailwindcss";

/* Global Scrollbar Customization for Dark Theme */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

/* Firefox compatibility */
* {
    scrollbar-width: thin;
    scrollbar-color: #333333 transparent;
}